{{> subhead}}

{{#each posts as |post|}}

<div class="card category mb-3" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-1 text-center center align-self-center">
      <a id="up{{post.id}}" onclick="upScore({{post.score}}, {{post.id}})" data-score="${posts.data[i].score}" data-id="${posts.data[i].id}" href="#" class="d-block up">
        <p class="material-icons">expand_less</p>
      </a>
      <p id="votes{{post.id}}" class="d-block">{{post.score}}</p>
      <a id="down{{post.id}}" onclick="downScore({{post.score}}, {{post.id}})" data-id="{{post.id}}" href="#" class="d-block down">
        <p class="material-icons">expand_more</p>
      </a>
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h5 class="card-title"><a href="/posts/{{post.id}}">{{post.title}}</a></h5>
        <p class="card-text">{{{post.body}}}</p>
        {{!-- <small class="text-muted">posted by {{User.username}}</small> --}}
        </p>
      </div>
    </div>
  </div>
</div>

<h1></h1>
<p></p>


{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  function upScore(votes, id) {
    votes++
    axios.put(`/posts/${id}`, {
      score: votes
    },
      {
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        }
      })
      .then(res => { 
        $(`#votes${id}`).text(votes)
        $(`#up${id}`).css("color", "red")
       })
      .catch(err => console.log(err))
  }
  function downScore(votes, id) {
    votes--
    axios.put(`/posts/${id}`, {
      score: votes
    },
      {
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        }
      })
      .then(res => { 
        $(`#votes${id}`).text(votes) 
        $(`#down${id}`).css("color", "red")
        })
      .catch(err => console.log(err))
  }
</script>