{{> subhead}}

{{#each posts as |post|}}

<div class="card category mb-3" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-1 text-center center align-self-center">
      <a data-score="${posts.data[i].score}" data-id="${posts.data[i].id}" href="#" class="d-block up">
        <p class="material-icons">expand_less</p>
      </a>
      <p class="d-block">{{post.score}}</p>
      <a data-id="{{post.id}}" href="/posts/{{post.id}}" class="d-block down">
        <p class="material-icons">expand_more</p>
      </a>
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h5 class="card-title"><a href="/posts/{{post.id}}">{{post.title}}</a></h5>
        <p class="card-text">{{post.body}}</p>
        {{!-- <small class="text-muted">posted by {{User.username}}</small> --}}
        </p>
      </div>
    </div>
  </div>
</div>

<h1></h1>
<p></p>


{{/each}}