{{> subhead}}

<main class="container">
  <div class="row">
    <div class="col-md-9">

      {{!-- Post Box --}}
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-1 text-center center align-self-top">
            <a href="#" id="${posts.data[i].id}-up" class="d-block up">
              <span class="material-icons">expand_less</span>
            </a>
            <span class="d-block">{{score}}</span>
            <a href="#" id="${posts.data[i].id}-down" class="d-block down">
              <span class="material-icons">expand_more</span>
            </a>
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h3 class="card-title mb-3">{{title}}</h3>
              <small class="text-muted">Created by @<a href="/api/users/viewposts/{{User.id}}">{{User.username}}</a></small>
              <p class="card-text">{{body}}
                
              </p>
              </p>
            </div>
      
          </div>
        </div>
      </div>
      
      <div class="addComment mt-5 mb-5">
        <h5>Add Comment</h5>
        <div class="card-comment input-group pt-1">
          <textarea class="form-control" id="commentText" rows="2"></textarea>

          <button data-pid="{{id}}" class="btn btn-outline-secondary" type="button" id="submit">Submit</button>
        </div>
      </div>
      
      <div id="showComments" class="show-comments">
        <h5>Comments</h5>

      </div>

    </div>
    {{!-- Sidebar Right --}}
    <div class="col-md-3">
      {{!-- Show Category of post --}}
      <div class="card bg-dark text-light mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <small class="text-muted">Topic</small>
              <h3 class="card-title mb-3"><a href="/categories/{{category.id}}">{{category.name}}</a></h3>
              <p class="card-text">{{category.description}}</p>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <small class="text-muted">Top Posts</small>
              <ul>
                <li><span class="card-text">"Zombie Ipsum"</span> <small class="text-muted">by armin</small></li>
                <li>
                  <span class="card-text">"Cat Ipsum"</span> <small class="text-muted">by Brandon</small>
                </li>
                <li><span class="card-text">"Dog Ipsum"</span> <small class="text-muted">by cally</small></li>
                <li>
                  <span class="card-text">"Guinea Pig Ipsum"</span> <small class="text-muted">by relaxedvibes</small>
                </li>
              </ul>
            </div>
      
          </div>
        </div>
      </div>

    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    
    $('#submit').click(event => {
      event.preventDefault()
      axios.post(`/posts/comment/${event.target.dataset.pid}`, {
        text: document.getElementById('commentText').value
      }, {
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        }
      })
        .then(res => {
          console.log('comment created')
          document.getElementById('commentText').value = ''
          location.reload()
        })
        .catch(err => console.log(err))
    })
    axios.get(`/comments/${document.getElementById('submit').dataset.pid}`)
    .then(res=>{
      console.log(res.data)
      for(let i=0; i<res.data.length; i++)
      {
        axios.get(`/api/users/${res.data[i].uid}`)
        .then(username=>{
          let elem = $(`<div class="list-group">
          <span class="list-group-item">
            <p class="mb-1">${res.data[i].text}</p>
            <small>Posted by ${username.data.username}</small>
          </span>
        </div>`)
        $('#showComments').append(elem)
        })
      }
    })
     $('.up').click(event=>{
      event.preventDefault()
      console.log('up')
      axios.put(`/posts/{{id}}`, {
        score: {{ score }} +1
      },
        {
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          }
        })
        .then(res => { location.reload() })
        .catch(err => console.log(err))
    })
    $('.down').click(event => {
        event.preventDefault()
        console.log('down')
        axios.put(`/posts/{{id}}`, {
          score: {{ score }} - 1
      },
        {
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          }
        })
        .then(res => { location.reload() })
        .catch(err => console.log(err))
    })
  </script>
